<div class="container">
  <div class="content">
    <h1 class="mat-h1">Conversor de Temperatura</h1>

    <mat-form-field appearance="fill">
      <mat-label>Temperatura:</mat-label>
      <input matInput type="number" placeholder="Ingresa la temperatura" [(ngModel)]="temperature" (input)="convertTemperature()" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Desde:</mat-label>
      <mat-select [(value)]="fromUnit" (selectionChange)="convertTemperature()">
        <mat-option value="kelvin">Kelvin</mat-option>
        <mat-option value="celsius">Celsius</mat-option>
        <mat-option value="fahrenheit">Fahrenheit</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Convertir a:</mat-label>
      <mat-select [(value)]="toUnit" (selectionChange)="convertTemperature()">
        <mat-option value="celsius">Celsius</mat-option>
        <mat-option value="fahrenheit">Fahrenheit</mat-option>
        <mat-option value="kelvin">Kelvin</mat-option>
      </mat-select>
    </mat-form-field>

    <div id="result" class="mat-body-1">
      <p class="mat-caption">Resultado:</p>
      <p id="convertedResult">{{ convertedValue }}</p>
    </div>
  </div>
</div>
